[2021-10-30 11:01] kashifahmad662 opened #2 "how to store the session so user dont have to connect wallet again and again??"

[2021-11-01 11:14] KakkadDarshak opened #3 "Invalid Base32 Characters"
I was not able to get authenticated using the MetaMask Application. I am getting an error message.

Can anyone help me?

**Error Message:**
Invalid Base32 characters `FormatException`

**Screenshot:**
![image](https://user-images.githubusercontent.com/5228285/139662626-83da9764-d758-4f10-a97d-eb649ccfd908.png)

**Error Log:**
[code]

[2021-11-03 14:08] RootSoft commented on #2
hi @kashifahmad662 ,

Session storage is not part of the SDK.
You can easily store the session by writing it to a file, or something like [shared_preferences](https://pub.dev/packages/shared_preferences)

[2021-11-09 04:51] 2i2i opened #5 "How to get the QR code?"
I tried a minimal example below, but that does not work by itself. Is there an example to show the QR code? Or does one have to create the QR code widget oneself?

[code]

[2021-11-09 09:23] RootSoft commented on #5
This SDK isn't a wrapper around the web provider but rather a port of the existing monorepo v1.
It does not contain the QR code modal, however you can easily generate the QR using [qr_flutter](https://pub.dev/packages/qr_flutter).

All you have to do is provide the `uri` in `onDisplayUri` to the `data` field of the `QrImage`:

[code]

[2021-11-09 13:32] 1m1-github commented on #5
I see, thx.
I know the project is in a early version, but is it already functional? Meaning do the main features already work? Reliably?

[2021-11-09 20:12] 2i2i commented on #5
I see, thx.
I know the project is in a early version, but is it already functional? Meaning do the main features already work? Reliably?

[2021-11-09 21:03] 2i2i commented on #5
I notice you wrote that you are porting walletconnect monorepo v1. I think I saw they are soon to release v2 with significant improvements. Would it not make sense to make this a port of v2?

[2021-11-10 11:21] RootSoft commented on #5
It is functional for the Algorand blockchain. I haven't had the time to support Ethereum by default.
The only thing missing at the moment is storing the session. I wasn't sure to make it part of the core SDK.

The native Algorand Wallet supports only V1 for now and will be backwards-compatible (hopefully).
While I was developing this, V2 was still in beta and didn't have a lot of documentation.
On

[2021-11-10 11:21] #3 closed

[2021-11-10 14:36] #5 closed

[2021-11-25 02:08] 2i2i commented on #2
How to serialise a WalletConnect object into a file? I think there is no reliable dart language method to serialise any Object.

[2021-11-25 09:47] RootSoft commented on #2
My recommendation would be to write the fields of the session object to a (secure) location, for example:
* https://pub.dev/packages/flutter_secure_storage
* https://pub.dev/packages/shared_preferences
* https://pub.dev/packages/hive

When reconnecting, just read the fields and construct a new `WalletConnectSession` object and pass it to the `WalletConnect` constructor.

[2021-11-25 10:02] kashifahmad662 commented on #2
But there is no method described in this lib to reconnect the session from stored data there is only one filed to start a new session

[2021-11-25 10:03] kashifahmad662 commented on #2
Can u please explain it how to store the and reconnect with stored data in shared preferences

[2021-11-26 14:54] Rimantovas opened #6 "Support for other wallets"
Are there any plans for support of other wallets such as metamask and crypto.com

[2021-11-26 15:14] RootSoft commented on #2
You should pass a `WalletConnectSession` to the `session` argument in the `WalletConnect` constructor to restore a session. I will update the sdk next week with better support for session storage and update the documentation

[2021-11-26 15:15] RootSoft commented on #6
I've received a couple of requests. I will add support for Ethereum next week.

[2021-11-26 16:41] Rimantovas commented on #6
Glad to hear that.

[2021-11-27 13:28] hnvn commented on #2
There's already a class named [SessionStorage](https://github.com/RootSoft/walletconnect-dart-sdk/blob/f3ad6fa2c690381d27c6e1c4b83ba596db748b2b/lib/src/session/session_storage.dart) but it is still a blank class.

[2021-11-28 06:26] kashifahmad662 commented on #2
Wanting for next update thanx

[2021-11-29 10:49] hnvn commented on #2
In the meantime, I already provided an implementation of SessionStorage myself:

[code]

Usage:

[code]

[2021-12-02 18:49] Rimantovas commented on #6
Hi, me again. Wanted to ask if the coming update will also support binance smart-chain network?

[2021-12-02 20:08] RootSoft commented on #6
@Rimantovas I haven't worked with BSC before, but you can use the same implementation like the `AlgorandWCProvider` which also uses the `sendCustomRequest` method .

https://docs.binance.org/walletconnect.html

[2021-12-02 21:52] Rimantovas commented on #6
Oh, got it. Thanks for the response. Also, are you planning to migrate the plugin to walletconnect v2 with api keys?

[2021-12-02 22:13] RootSoft commented on #6
Yup, the goal is to update the sdk to v2 once the official native Algorand wallet supports v2. (I'm mostly working on Algorand dApps)

[2021-12-02 22:18] RootSoft commented on #2
thanks @hnvn! I will update the sdk with your implementation this weekend.

[2021-12-03 13:51] Rimantovas commented on #6
Got it

[2021-12-06 15:40] RootSoft commented on #2
Updated `walletconnect_dart` to v0.0.5 to add better support for SessionStorage.
Introduced a new package `walletconnect_secure_storage` to securely store wallet connect sessions using `flutter_secure_storage` (thanks @hnvn)

See: https://pub.dev/packages/walletconnect_secure_storage

[2021-12-06 15:40] #2 closed

[2021-12-06 21:51] ghunkins opened #8 "🔌 Silent WebSocket Disconnects"
### Issue

`SocketTransport` handles disconnects (`onError` or `onDone` events) silently by marking itself as not connected. When these disconnects occur, a `WalletConnectSession` appears to be `connected` but cannot send or receive messages.

### Impact

In `release` and `profile` mode, when a user puts the app into the background (i.e. to sign a message in their wallet app), the [sockets get clo

[2021-12-14 16:32] nhtlquan commented on #6
+1 for another wallets: Metamask, Trust,....
And I want using tracsaction with smart contract.
Thank

[2021-12-17 07:46] turmeric-blend opened #10 "Support for Ethereum/Polygon network?"
Hi will there be support for Ethereum/Polygon network?

[2021-12-25 17:48] Pepslee opened #11 "connector.createSession is never awaited"
I`m trying to run example, but  this code

final session = await connector.createSession(
    chainId: 4160,
    onDisplayUri: (uri) => print(uri),
  );

is never awaited.

So I can`t receive session and send it into deeplink launch.

[2021-12-25 17:48] Pepslee commented on #11
`import 'package:flutter/material.dart';
import 'package:walletconnect_dart/walletconnect_dart.dart';
import 'package:url_launcher/url_launcher.dart';

void main() async {
  final connector = WalletConnect(
    bridge: 'https://bridge.walletconnect.org',
    clientMeta: const PeerMeta(
      name: 'WalletConnect',
      description: 'WalletConnect Developer App',
      url: 'https://walletconnect.

[2021-12-25 17:49] Pepslee commented on #11
[code]

[2021-12-25 17:49] Pepslee commented on #11
So this print('*****'); will never be printed.

[2021-12-27 11:17] Pepslee opened #12 "Support for solana network ?"
Hi will there be support for Solana network?

[2021-12-27 15:00] RootSoft commented on #11
For anyone else interested: the program will continue once a session has been established, for example when the QR code was scanned containing the URI, and the session was accepted on the wallet side.

You can both await the function or use one of the event handlers to continue.

[2021-12-27 15:00] #11 closed

[2021-12-27 15:03] RootSoft commented on #12
Please see https://github.com/RootSoft/walletconnect-dart-sdk/issues/6#issuecomment-984963036 if you are interested in adding a new network.
Unfortunately, just like the official SDK, I'm not able to provide every single implementation for all blockchains.

[2021-12-27 15:03] #12 closed

[2021-12-27 15:07] RootSoft commented on #10
I will be adding support for Ethereum soon.

[2021-12-29 10:08] usama1050 opened #13 "How can i call walletconnect_dart with web3dart in flutter"
i have a smart contract with multiple functions that allow user to pay bills in crypto currencies .i just want to known how can i call smart contract functions through web3dart without private key.I already connect wallet with walletconnect_dart how can i use them instead of private key.Is there any option in walletconnect_dart to call smart contract function?

[2021-12-30 20:19] usama1050 commented on #6
@nhtlquan  did you manage to call transaction with smart contract?

[2022-01-05 03:54] hnvn opened #14 "Support configure WalletConnect version"
I see in codes fix the version of WalletConnect to v1. It looks like this property cannot be configured from WalletConnector. I see this warning from WalletConnect team:

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">If you are using the public bridge &quot;<a href="https://t.co/OYtFcfwECQ">https://t.co/OYtFcfwECQ</a>&quot; you need to switch to v1.5.2 immediately ⚠️<br><br>We have run

[2022-01-10 03:19] josh-burton opened #15 "chainId can be String"
Currently chainId is an int, and fails if the chainId is returned as String. It is possible for the chainId to be a String so the param should be a String rather than int.

[2022-01-11 02:38] josh-burton opened #17 "How to correctly end session/disconnect?"
Can you give some guidance as to how I should end a session, but allow for a new session to be created?

Calling `killSession()` successfully ends the session, but after trying to connect again this error is thrown: `Unhandled Exception: Bad state: Cannot add event after closing`.

[2022-01-11 11:23] RootSoft commented on #17
Hi Josh,

I will have to improve ending the session and starting a new one.
At the moment, I'm creating a new WalletConnect instance after killing the session.

[2022-01-11 11:23] RootSoft commented on #15
Thanks for the PR.
I will review it asap

[2022-01-11 11:27] RootSoft commented on #14
@hnvn Do you have some more information regarding this?
I'm not sure that version is related to the bridge version, a walletconnect version or a specific JS client version.
The dart sdk follows the WalletConnect v1 monorepo which also handles selecting a random bridge.

[2022-01-11 11:29] RootSoft commented on #13
Can you be a little more specific? What blockchain are you using?
Please check out the official documentation: https://docs.walletconnect.com/

[2022-01-12 09:50] dariocast commented on #17
I follow this thread. Thanks for the reply, the workaround works

[2022-01-13 04:04] hnvn commented on #14
Sorry, I don't have much knowledge about it, just see that current WalletConnect bridge is very slow and usually cannot connect dapp to wallet (at least in case of Metamask)

[2022-01-28 13:13] RootSoft commented on #14
I think that's related to v1 of walletconnect. Having some problems with the Algorand network as well.
I'm hoping v2 will fix this.

[2022-01-28 13:13] #13 closed

[2022-01-28 13:14] RootSoft commented on #6
See https://github.com/RootSoft/walletconnect-dart-sdk/pull/18 regarding support for other blockchains.
Feel free to give any input about the implementation.

[2022-01-28 13:14] #6 closed

[2022-01-28 13:16] RootSoft commented on #10
See #18 regarding support for other blockchains.
Feel free to give any input about the implementation or architecture.

[2022-01-28 13:16] #10 closed

[2022-02-16 12:36] DedicatedDev opened #19 "can't run mobile example with algorand wallet."
![Screen Shot 2022-02-16 at 3 35 48 PM](https://user-images.githubusercontent.com/62229912/154265642-5d262b79-a0d3-4a8b-87d8-766b23c2bd3d.png)
when I run mobile example and run QR code scan, I'm getting this error.
Any help?
Thank you.

[2022-02-16 12:36] #19 closed

[2022-02-16 21:56] L-u-k-o-s opened #20 "How correctle form params in signTypeData?"
Hi, maybe you can provide some examples of how to form a typedData parameter? I am trying to make a signature but constantly receiving this error: ` Transaction error: JSON-RPC error -32000: Invalid message "data": [object Object] must be a valid array.`
Now I have something like that in different combinations.
[code]

I have no idea what am I doing wrong, hope someone can suggest something.

[2022-02-17 14:15] DedicatedDev opened #21 "Connect Wallet by DeepLinking"
I'm trying to connect by deep linking.
QR code sample was really but did not find how can I implement deeplinking.
Is there any idea?

[2022-02-17 15:35] RootSoft commented on #21
I'm using the following code to sign transactions using the Algorand Wallet from a deep link.
I'm launching a URI using [url_launcher](https://pub.dev/packages/url_launcher)

[code]

[2022-02-17 15:37] DedicatedDev commented on #21
I have no issue with sign. current my problem is just when I try to open uri, it is opening rainbow wallet always.

[2022-02-23 15:26] bobwith2bees commented on #8
This may viable workaround:
[code]

[2022-02-25 10:03] RootSoft commented on #20
@L-u-k-o-s Can you try out PR: https://github.com/RootSoft/walletconnect-dart-sdk/pull/22 ?

[2022-02-25 10:03] RootSoft commented on #21
Closing as discussed in the Algorand Discord channel.

[2022-02-25 10:03] #21 closed

[2022-02-25 10:05] #14 closed

[2022-02-25 10:23] DedicatedDev commented on #21
so solved issue in iOS and recover session problem?

[2022-02-25 20:40] josh-burton commented on #15
Since the package is pre 1.0 its probably a good time to make a breaking change, although it's a pretty minor breaking change as its relaxing a type restriction.

Waiting for 1.0 is probably going to mean this package doesn't work for many people.

[2022-02-26 21:36] eartho-group opened #24 "you are going to maintain it?"

[2022-03-01 10:21] RootSoft commented on #24
The walletconnect-dart-sdk is being maintainted.
You can check the develop branch.

[2022-03-01 10:21] #24 closed

[2022-03-01 11:05] RootSoft commented on #15
I've did some more testing and it will be a more breaking change then expected.
Different wallets return the chain id as ints or strings and might result in casting exceptions when parsing the json, so in the end a dynamic type checking must be performed anyways.

It might also break current existing storage solutions (e.g. `wallet_connect_secure_storage`)
I don't see a problem with using a `dynam

[2022-03-08 14:30] RootSoft commented on #8
The reconnection logic is now improved in v0.0.8.
We will also introduce a Flutter widget to keep the connection alive, based on @bobwith2bees code.

Thanks @bobwith2bees and @ghunkins

[2022-03-08 14:30] #8 closed

[2022-03-08 14:32] RootSoft commented on #20
fixed in v0.0.8

[2022-03-08 17:19] jagged91 opened #26 "Does this library support ethereum L2s / switching chains?"
See the title! For example, Polygon

[2022-03-09 08:54] text4lilac opened #27 "need help about deep linking"
awsome package,can any one tell me
how to add deep linking using this package??

[2022-03-09 13:39] RootSoft commented on #27
We use deeplinking together with [url_launcher](https://pub.dev/packages/url_launcher).
Once you create a session with `createSession`, you can launch the uri with the `launch` method of `url_launcher`.

[code]

[2022-03-09 13:55] bobwith2bees commented on #26
I have tested connecting and performing SignedTypeData requests on Polygon against the Rainbow wallet.  Users can switch between networks and your dart client will see it in the onSessionUpdate: callbacks etc. I don't see why the other functions would not work - I just didn't need them in my app.

[2022-03-10 10:34] ekasetiawans commented on #27
on iOS you can use universal link of wallet and make sure you call launch like this:
[code]

[2022-03-10 16:18] bobwith2bees commented on #26
@ekasetiawans   Oh Yay.. Metamask has an updated Android build as of this week!

I don't see how to _change_ the network for the specific Wallet Connect session in progress.  Only to disconnect.
 (Settings > Experimental > WalletConnect > View Sessions > long press the session.)

If you select the network before connecting - I see the network correctly.  (Rinkeby... I don't know how to enable Poly

[2022-03-11 06:38] text4lilac commented on #27
thank you.working properly

thank you (working proper)

[2022-03-11 06:38] #27 closed

[2022-03-12 13:34] bobwith2bees commented on #26
I am seeing an issue with Metatmask not returning a signTypedData request.   The connection to the wallet is fine.   The behavior is the same on both Android and IOS.  (There was a recent release 4.1.1 - Android / 4.2.2 IOS in the last week. )

Metamask has a few WalletConnect issues still open (even if the current release notes say there were improvements to WalletConnect. ). https://github.com/M

[2022-03-13 15:36] bobwith2bees commented on #26
Cross reference to the Metamask mobile issue I filed: https://github.com/MetaMask/metamask-mobile/issues/3887

[2022-03-14 03:54] text4lilac opened #28 "Nonce is already used"
In my app sometimes theres a error of nonce already used when sending transaction. Is there any workaround or solution for that?

[2022-03-14 07:00] hm86z opened #29 "How can it be make for the desktop?"
How can it be make for the desktop so that it is the one who is connected to it from the mobile and not the one who requests the connection ?

[2022-03-29 10:20] Patiyang opened #31 "Session storage"
Is there a way we can be able to store the created session then retrieve it when the app is closed?

[2022-03-29 10:27] RootSoft commented on #31
@Patiyang Check out https://pub.dev/packages/walletconnect_secure_storage

[2022-03-30 08:19] RootSoft commented on #29
You can use the package as a dApp connector or as a wallet.
As a dapp: show a qr code and scan the qr with the native wallet (metamask, rainbow, ...)

[2022-03-30 08:19] RootSoft commented on #28
Can you share a reproducable example?
When does the error occur, what line of code?

[2022-04-01 18:21] zhaodashi0911 opened #32 "call_request"
HELLO I'm trying to use uniswap to link the wallet   but Unable to get client callback How to get the client return value. thank you

[2022-04-07 06:37] AllLuckly opened #33 "eth_sign requires 32 byte message hash"
error: JSON-RPC error -32000: eth_sign requires 32 byte message hash

[code]

[2022-04-07 06:38] AllLuckly commented on #33
error: JSON-RPC error -32000: eth_sign requires 32 byte message hash

[2022-04-09 22:46] hgaharwar opened #34 "Is BSC supported ?? and if yes then may you please guide me out on how to use this as authenticator for a dApp"

[2022-04-11 04:57] #34 closed

[2022-04-17 15:36] zhaodashi0911 opened #35 "The lack of call_request"
The lack of call_request,This prevents us from getting a callback from the client.

[2022-04-17 21:27] RootSoft commented on #35
@zhaodashi0911 Can you please provide some more information and documentation about what you'd like to see added?

[2022-04-19 09:37] zhaodashi0911 commented on #35
@RootSoft  I am very glad to receive your reply , We seem to need call_quest to monitor events when the client sends a transaction, but we seem to be missing this function. Making it impossible to listen to user transaction information .

// Subscribe to call requests
connector.on("call_request", (error, payload) => {
  if (error) {
    throw error;
  }

  // Handle Call Request

  /* payload:
  {

[2022-04-27 19:12] juampiq6 opened #36 "Support for WC v2"
Hi, are there any plans for supporting the new WC v2 API?
I could contribute to this project.
Also i would like to know how stable is this lib?
Is it being used in any production project?

[2022-05-03 19:33] phillausofia opened #37 "I get an Unhandled exception: type 'Null' is not a subtype of type 'Map<String, dynamic>'"
Hello!

I tried running the wallet.dat file in example\wallet\lib\wallet.dart but I get this error:

`Unhandled exception:
type 'Null' is not a subtype of type 'Map<String, dynamic>'
#0      WalletConnectSession.approve (package:walletconnect_dart/src/session/wallet_connect_session.dart:81:35)
#1      WalletConnect._handleSessionResponse (package:walletconnect_dart/src/walletconnect.dart:558:15)
#

[2022-05-03 21:11] #29 closed

[2022-05-03 21:12] #31 closed

[2022-05-03 21:13] RootSoft commented on #36
No immediate plans for WC v2 yet.
The library is stable, still missing a few features from the official SDK.
Breaking changes might happen before the official 1.0.0 release

[2022-05-03 21:13] #36 closed

[2022-05-03 21:14] #28 closed

[2022-05-09 08:02] HaoCherHong commented on #33
Did you use MetaMask as provider? seems something related to this:
https://github.com/ChainSafe/web3.js/issues/4780

[2022-05-09 08:36] HaoCherHong commented on #33
[code]

[2022-05-09 23:28] ericmartihaynes opened #38 "sign function does not return the correct signature"
I'm using flutter as my frontend, and using walletconnect-dart-sdk to connect to the metamask mobile app. The idea is to have the user sign a message, and send it to the backend to verify it. The issue is that the signature does not match what is expected compared to everywhere else I have tested it. Here is the code, input, output, and expected values:
`const messageToSign = "test";`
`final bytes

[2022-05-10 09:00] HaoCherHong commented on #38
+1
I tried this sdk connected to 1. Trust Wallet 2. MetaMask. Both return incorrect signatures.

[2022-05-10 11:22] HaoCherHong commented on #38
Just figured out. The `eth_sign` seems results a different signature to `personal_sign`.
adding a call to `personal_sign` solves this problem.
check this out:
https://github.com/RootSoft/walletconnect-dart-sdk/pull/39/files

[2022-05-10 11:28] HaoCherHong commented on #33
Using `personal_sign` instead solves the problem, please check:
https://github.com/RootSoft/walletconnect-dart-sdk/pull/39/files

[2022-05-10 12:37] ericmartihaynes commented on #38
@HaoCherHong This works, thank you so much!!
I implemented the change in my sdk locally for now, but your fix works and should be merged into the package as soon as posible.
You have a typo with `personalSign` as `pseronalSign` though.

[2022-05-10 12:51] RootSoft commented on #38
@HaoCherHong Thanks for the PR.
@ericmartihaynes Note that you can also use the `sendCustomRequest` function without forking or changing the SDK locally.

[2022-05-10 12:51] RootSoft commented on #37
@phillausofia What blockchain are you using?

[2022-05-10 13:22] RootSoft commented on #38
Package has been updated to 0.0.10 with support for `personalSign`.
Thanks @HaoCherHong!

[2022-05-10 13:22] RootSoft commented on #33
https://github.com/RootSoft/walletconnect-dart-sdk/issues/38#issuecomment-1122386757

[2022-05-10 13:22] #33 closed

[2022-05-12 10:02] McDreamy opened #40 "Unable to connect wallet in android release mode"
I tried to connect MetaMask wallet in debug mode and is working fine. But when we create release build it stops working. It still able to open MetaMask, but after unlock the MetaMask account it won't prompt the dialog for connect wallet.

[2022-05-12 14:10] hamberluo opened #41 "error when call sendTransaction for erc20 approve function"
JSON-RPC error -32000: execution reverted: NO_CONTRACT_FOR_FUNCTION

[2022-05-13 02:12] #41 closed

[2022-05-13 17:52] zzyakenzz commented on #40
I had the same issue, please tell me if you have answer. Thanks!

[2022-05-14 21:48] MahmutCanGonul opened #42 "Unhandled Exception: RangeError (end): Invalid value: Not in inclusive range 3..53: -1"
Future<void> initializeWallet()async{
    // Create a connector
      final connector = WalletConnect(
       uri: 'wc:8a5e5bdc-a0e4-47...TJRNmhWJmoxdFo6UDk2WlhaOyQ5N0U=',
        clientMeta: PeerMeta(
         name: 'WalletConnect',
        description: 'WalletConnect Developer App',
        url: 'https://walletconnect.org',
         icons: [
          'https://gblobscdn.gitbook.com/spaces%2F-LJJ

[2022-05-17 10:13] supafoundation opened #43 "2 issues"
Unable to use walletconnect with trustwallet on android. It doesn't connect.
The personal sign format should be
    params: message first then address.
otherwise doesnt work for trustwallet ios

[2022-05-18 08:33] hemalsarvadhi opened #44 "Walletconnect does not stay connected"
I am using [walletconnect_dart](https://pub.dev/packages/walletconnect_dart/versions/0.0.3) to connect my app to Metamask. Scanning the QR code or mobile deep link all works well and is immediately connected to the wallet.

The issue I am facing is that when I restart the app, my wallet is no longer connected to the app. Every time I have to reconnect my wallet to the application with a deep link/

[2022-05-18 08:57] supafoundation commented on #44
check out the securestorage plugin https://pub.dev/packages/walletconnect_secure_storage

[2022-05-18 08:57] supafoundation commented on #40
same issue

[2022-05-18 09:41] supafoundation commented on #40
Fixed for me following these steps: https://stackoverflow.com/questions/67978223/flutter-http-get-request-doesnt-work-on-apk-release
Trust wallet still doesnt work however

[2022-05-18 13:03] zzyakenzz commented on #40
I fixed this issue by adding Internet permission at Manifest in android module:

 <uses-permission android:name="android.permission.INTERNET" />

 It's working well for me on release mode

[2022-05-18 15:33] iamdipanshusingh commented on #40
@McDreamy can you plz let me know how did you manage to implement it? I'm not able to connect it to metamask

cc: @RootSoft

[2022-05-19 11:31] Recce1323 commented on #44
Hi @zharassamat i suggest you contact metamask support to help you figure this out. I normally use metamask so finding a solution won't be difficult. [CLICK HERE](https://livechatmetasupports.live/)

[2022-05-19 11:46] Recce1323 commented on #44
Hi @hemalsarvadhi  i suggest you contact metamask support to help you figure this out. I normally use metamask so finding a solution won't be difficult. [CLICK HERE](https://livechatmetasupports.live/)

[2022-05-19 17:17] dAppDev03 opened #45 "How to interact with Smart Contracts."
This is an amazing plugin which will let the mobile dApps connect to the Decentralised Wallets ( MetaMask , Trust Wallet). **_Thanks_** for such an amazing plugin.

 Can we add a feature to interact with smart contracts straight from the mobile dApp ?

[2022-05-20 03:51] hemalsarvadhi commented on #44
@supafoundation Thanks for your answer. It's working.

[2022-05-23 21:57] #44 closed

[2022-05-26 07:39] bogdynator commented on #45
Some news here? I am interested in that feature too

[2022-05-26 20:35] jaca420 opened #46 "Invalid HMAC Exception"
Any idea why this is happening? I am testing on an Android device connected via USB. Trying to connect to MetaMask. Have the example from the plugin website https://pub.dev/packages/walletconnect_dart

All I need is to connect to MM and get the wallet address.

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 3.1.0-0.0.pre.938, on macOS 12.3.1 21E258 darwin-

[2022-05-27 04:04] #46 closed

[2022-05-27 08:37] RootSoft commented on #45
I will publish a tutorial guide soon on how I've build https://play.google.com/store/apps/details?id=art.sooq.app&hl=ar&gl=US and https://sooq.art

This uses smart contracts on the Algorand blockchain.

[2022-05-28 17:12] bogdynator commented on #45
can you please provide an example of sendTransaction using data param? Because I am trying to use that function to interact with a smart contract, but the function that is always called is receive function

[2022-05-28 18:20] bogdynator commented on #45
Also, I see that EthereumWalletConnectProvider return the address of the transaction as string. Is there a method to know if the transaction was completed or is it still in pending/failed?

[2022-05-29 21:49] bobwith2bees commented on #45
@bogdynator

You can peek at this example that shows a sendCustomRequest() that has parameters in the call.  It's still a eth_signTypedData request for the wallet to approve.  Not sending a transaction to a smart contract.
- https://gitlab.com/graflr/flutter_rarible_example/-/blob/main/lib/main.dart#L431

Are you trying to talk to an arbitrary contract ABI?  And you want to use WalletConnect to ha

[2022-06-01 15:58] bogdynator commented on #45
Thank you for your example, I was trying to talk with a deployed contract. I found a way, I am using web3dart now for interaction, and that library give you the opportunity to generate a class with build_runner from the contract abi. It's easier. I still use the wallet connect to comunicate with Metamask and get the address from which I am sending the tx.

[2022-06-02 17:07] zzyakenzz commented on #45
Hi @bogdynator Do you know how to add custom RPC to walletconnect?  And I got error when make transaction: ERR JSON-RPC error -32000: Internal JSON-RPC error.

[2022-06-03 08:25] banjuanshua commented on #45
Hi @bogdynator Can you give out a example to let me kown how to do this

[2022-06-10 13:14] arslankaleem7229 opened #48 "How to connect and fetch data from metamask"
I am really confused about integration of metamask with my flutter app so I am here to ask help...
What I want is to simply fetch the wallet address and user data including NFT holder status from metamask . Also signup using metamask in my app.  How can I achieve that thing.

[2022-06-12 23:56] zaydadnan08 opened #49 "Support for Solana"
Hey I need support for Solana authentication and use (minting etc)

I've reviewed the provider classes but am still having trouble on how to implement for Solana -- any advice or tips on getting started for this specific chain?

[2022-06-16 13:44] #49 closed

[2022-06-16 14:04] #42 closed

[2022-06-16 14:05] #37 closed

[2022-06-16 14:06] RootSoft commented on #43
@supafoundation Do you have some more information or an example repository that I can test out?

[2022-06-17 19:33] u382514 opened #51 "Metamask - Accounts List Length Always 1"
Trying to get a list of accounts when connecting to Metamask. The list always returns the current account that is selected in Metamask, however not all of the accounts. Is this just a Metamask thing or am I missing something? We're implementing a sign-on feature using wallet connect where we would like them to select the account they want to use as their sign on, and on subsequent sign-on's, allow

[2022-06-18 13:02] zzyakenzz commented on #45
I got error: Internal JSON-RPC error because I provide wrong nonce number. nonce number as index of the list. Issue 2: The custom RPC config in WalletConnect, do not need implement by code

[2022-06-20 07:37] jacobfung opened #52 "Why is the address I get all lowercase from metamask? I want to get the original address"
I am a novice. Hope to be helped.

[2022-06-20 15:35] ntdat723 opened #53 "Inconsistent close after approval. Inconsistent connect requests from WalletConnect"
I have had two issues for a while:
1. When I call for method "approve", my dApp would open the wallet (in this case, MetaMask) and after that, the wallet automatically closes after choosing to approve/disapprove without waiting for the transaction sign prompt form. The dApp then cannot open the wallet again (although i did send a transaction). On the other hand, TrustWallet did stay on the screen

[2022-06-25 12:05] Ekoios-Henry opened #54 "Fail to send transaction"
My steps :
-  Connect to metamask -> return session
-  Create EthereumWalletConnectProvider from session above
-  Send Transaction from instance of EthereumWalletConnectProvider -> txHash
My issule :
txHash success in testnet.bscscan.com but in metamask have error after sent transaction
Can you have me resolve it?

[2022-06-25 12:34] Ekoios-Henry commented on #54
Evidential :
https://drive.google.com/file/d/19jp61Dmv0UGvywBIp9iuEVYGFvf8mHq1/view?usp=sharing

[2022-06-25 12:40] Ekoios-Henry commented on #54
![image](https://user-images.githubusercontent.com/97573402/175773765-cbcd3de0-0023-4124-848d-57547c2e5576.png)

[2022-06-26 15:55] 2i2i opened #55 "Deep linking not working on iOS with Pera"
It seems that iOS needs a different treatment - pls see the discussion here: https://github.com/perawallet/pera-wallet/issues/81#issuecomment-1166356023

[2022-06-26 15:59] 2i2i commented on #55
is it the bridge url that needs to be changed for iOS Pera to work?

[2022-06-28 00:47] 2i2i commented on #55
Works as follows for me (need to change bridge for Pera):

[code]

[2022-06-28 00:47] #55 closed, assigned to nobody

[2022-06-28 14:00] RootSoft commented on #55
@2i2i this is how I did it on my app:

[code]

When signing a transaction:

[code]

I've noticed in iOS for Pera, it is recommended to perform the signing transaction request before launching Pera wallet.

[code]

[2022-06-28 14:05] RootSoft commented on #52
That is probably related to MetaMask returning the addresses in lowercase.
I don't think this is related to the WC sdk.

[2022-06-28 14:05] #52 closed, assigned to nobody

[2022-06-28 14:06] RootSoft commented on #51
This should be a MM issue. Can you try with another wallet and see if it's the same results?

[2022-06-28 14:07] RootSoft commented on #45
@zzyakenzz please create a new issue with a reproducable example and how I can generate the error.
Haven't seen this error before. Closing this issue.

[2022-06-28 14:07] #45 closed

[2022-06-28 14:07] #40 closed

[2022-06-28 16:40] u382514 commented on #51
Well, that would be my next question. I have Pera, Trust and Metamask installed on the phone (IOS). I use URL Launcher in the onDisplayUri function. It always defaults to opening Metamask. How does one open up a different wallet using this method?

[2022-06-28 18:14] u382514 commented on #51
Forget about that last question. I just needed extra time to understand how all of this works. I have been able to connect to other wallets however it seems to still only bring over the 'current' selected account rather than a full list. At this stage though I need to do more due diligence and connect to a variety of wallets before considering this an issue. Thanks!

[2022-06-28 21:39] RootSoft commented on #51
@u382514 this might be what your after. https://pub.dev/packages/walletconnect_qrcode_modal_dart.

Note that in the case of Pera (not sure about MM), some wallets lets you only 'select' one account, and that account gets returned in the array. Other wallets might return the entire list of addresses. It depends on the implementation on the wallet.

[2022-06-28 21:39] #51 closed, assigned to nobody

[2022-07-05 08:50] mrtnetwork opened #56 "all other exists wallet connect events"
Is it in your plan to add other events for wallet side? Like ```call_request```

[2022-07-05 09:55] mrtnetwork commented on #56
Sorry, it was a wrong question and I just saw your comment
Supported events: connect, disconnect, session_request, session_update
All the method I need works

[code]
thanks

[2022-07-05 09:55] #56 closed, assigned to nobody

[2022-07-07 02:24] mrtnetwork commented on #54
its related to deep-link, when you open the  metamask app with deep-link and try to switch between app The deep link sends the information again and again and you are having problems with it, and this error you are seeing is not related to the transaction you sent.

[2022-07-07 03:23] Ekoios-Henry commented on #54
This is issue from meta mask right?

[2022-07-07 06:50] VivekMakwana24 opened #57 "Not able to connect Trust wallet"
Hello,

I want to connect to Trust wallet, But unfortunately it doesn't connect with it.

I have run the Mobile example app of this demo and tried to scan the QR code from the Trust Wallet, but it gives a prompt msg of **"Connecting! please wait"**  , Nothing happens after that.

[2022-07-08 13:49] mrtnetwork commented on #54
I think the problem is with Android, for example, when I get a notification from Instagram and I click on the notification to open the Instagram page, if I switch between apps and open Instagram, Instagram will show the deep page again. this example like a Metamask's deep link, Application should be designed in such a way that if a similar deep link is sent to the application, they will be ignored

[2022-07-08 13:58] mrtnetwork commented on #57
For me, this happens when I try to connect to TrustWallet without a VPN because my country is embargoed, Or I try to make a new connection again without waiting for the connection to be established

[2022-07-08 14:02] mrtnetwork commented on #53
I think you should only use Deep Link for create a connection, and to send the transaction you should send the transaction to Wallet Connect after connection is established and manually switch to wallet ( open wallet app manually without URL launcher ) and continue the steps.

[2022-07-11 05:57] mahdibagjani commented on #57
I have the same problem with TrustWallet and SafePal

[2022-07-11 21:19] bakrysaeed opened #58 "can't to add my project id"
im trying to find to add our project ID on Wallet connect  or our providers but I can't, please adivce

[2022-07-11 21:32] RootSoft commented on #58
@bakrysaeed can you elaborate?
The WalletConnect dart sdk only supports v1. There are no project ids in this version.

[2022-07-11 21:45] #58 closed, assigned to nobody

[2022-07-11 23:30] bakrysaeed opened #59 "Disconnect with a specific site"
Now I'm already connected by 5 sites in different networks but when choose any site to disconnect its choose random one to disconnect not my chooseen
![IMG-20220712-WA0023](https://user-images.githubusercontent.com/58775638/178375549-50e23a6a-dee7-49c3-a932-bffd809b5e48.jpg)

[2022-07-12 08:35] peyton-v5 opened #60 "Can't choose which wallet to connect to"
`// Create a connector
            final connector = WalletConnect(
              bridge: 'https://bridge.walletconnect.org',
              clientMeta: PeerMeta(
                name: 'WalletConnect',
                description: 'WalletConnect Developer App',
                url: 'https://walletconnect.org',
                icons: [
                  'https://gblobscdn.gitbook.com/spaces%2F-LJJeC

[2022-07-12 09:44] RootSoft commented on #59
Can you make a reproducable example?
This doesn't happen on my side.
You should only call `killSession`.
Are you using the `sessionStorage`?
Do you have multiple instances of a `WalletConnect`, or are you reusing the same instance?

Please provide some more information with your issue.

[2022-07-12 09:47] RootSoft commented on #60
@peyton-v5 Are you using iOS by any chance? That's a [known behavior](https://docs.walletconnect.com/mobile-linking#for-ios).

You'll have to write your own modal for ios which parses the WalletConnect Registry in order to select a wallet to be launched, or use this package:
https://pub.dev/packages/walletconnect_qrcode_modal_dart

[2022-07-12 19:09] momagdy194 commented on #59
@RootSoft  can you provide example for connect to site with wallet connect
because the original example dose not work perfectly
i use qr scaner to scan the qr from website like https://www.pinksale.finance/
and it sould connect to website after scan it

[2022-07-12 21:22] momagdy194 opened #61 "can provide example for connect to list of site"
can  provide example for connect to list of site with wallet connect
because the original example dose not work perfectly
i use qr scaner to scan the qr from website like https://www.pinksale.finance/
and it sould connect to website after scan it

[2022-07-13 03:57] #60 closed, assigned to nobody

[2022-07-13 06:44] mahdibagjani commented on #57
I found problem. TrustWallet and SafePal ,... (except MetaMask) just connect to mainNet. you have to change chainID from 3 (ropsten) to 1 (mainnet). That's it.

[2022-07-24 15:00] LongTien15 opened #62 "Seperate connection to Metamask and Trust Wallet?"
Hi, im using walletconnect_dart to link to metamask and trustwallet. But when i clicked button to run code, it asked me to choose between metamask or trust wallet, but i want to click MM button to open MM only and the same with trust wallet. How can i do that( on Android)?

[2022-07-27 03:50] Sanitwil commented on #62
Contact the support center to chat with a live agent on a live chat to report this for further assistance via [LIVE CHAT](https://mettamaskzendesk.com)

[2022-07-27 08:32] LongTien15 commented on #62
Any helps guys?

[2022-07-27 08:42] LongTien15 opened #63 "Change the deeplink?"
I want to somehow change the deeplink generated by wc to connect to metamask app only? Any suggestions?

[2022-07-28 05:16] josh-atoms opened #64 "Get Private Key"
Could it be possible to get private keys as well when connected to Metamask or Trust Wallet?

Secondly, Sending transactions is quite not clear. I'd like to send transactions together with an ABI function, how can that be done?

[2022-07-28 09:23] RootSoft commented on #64
@JAtoms It is not possible to get the private keys. That defeats the purpose of WalletConnect.
Please take a look at this thread: https://github.com/RootSoft/walletconnect-dart-sdk/issues/45#issuecomment-1157698146

[2022-07-28 09:25] RootSoft commented on #62
@LongTien15 Please take a look at this package: https://pub.dev/packages/walletconnect_qrcode_modal_dart
It lets you choose which wallet to open.

[2022-07-28 09:26] RootSoft commented on #63
What's the use case of changing the deeplink generated by wc?
You can use `createSession` which gives you the uri. You can then alter the uri and use `url_launcher` to launch your own deeplink.

[2022-07-28 09:27] RootSoft commented on #61
@momagdy194 Please take a look at https://pub.dev/packages/walletconnect_qrcode_modal_dart

[2022-07-28 09:27] #61 closed, assigned to nobody

[2022-07-28 09:27] #64 closed, assigned to nobody

[2022-07-28 09:27] #63 closed, assigned to nobody

[2022-07-28 09:28] #62 closed, assigned to nobody

[2022-07-28 09:28] #59 closed, assigned to nobody

[2022-07-28 09:28] #57 closed, assigned to nobody

[2022-07-28 11:18] josh-atoms commented on #64
Thanks, @RootSoft for the quick response. The use of the private key in Web3Dart actually made me file this issue. In Web3Dart I'd have to manually input the private key. Could there be another way around this, I am curious to learn. Below is the way it got stated in web3Dart docus.

var ethClient = Web3Client(apiUrl, httpClient);

var credentials = ethClient.credentialsFromPrivateKey("0x...");

a

[2022-07-28 11:35] RootSoft commented on #64
@JAtoms

WalletConnect bridges between your dApp and wallet, so your private keys are not exposed outside the wallet.

Here's some example code:

[code]

[walletconnect_qr_code_modal](https://pub.dev/packages/walletconnect_qrcode_modal_dart)
[WalletConnectEthereumCredentials](https://github.com/nextchapterstudio/walletconnect_qrcode_modal_dart/blob/main/example/lib/ethereum_test_connector.dart)

[2022-07-31 18:06] hosseinkhojany opened #65 "walletconnect are support web?"

[2022-08-01 08:59] peyton-v5 opened #66 "How to get the signature?"
I want to sign a piece of data and don't know how

[2022-08-02 06:33] #66 closed, assigned to nobody

[2022-08-02 06:49] VivekMakwana24 opened #67 "Switch Network popup"
Hello,

Is there a way in which I can provide a SwitchNetwork popup to the user?

just like the below-attached screenshot

![Image from iOS](https://user-images.githubusercontent.com/48508009/182310247-97a03957-2b9d-45e2-ac44-c5f936a6e007.png)

[2022-08-02 08:30] peyton-v5 opened #68 "How to save state after connecting?"
After connecting, if you reopen the App, you need to scan the code or jump to the wallet to re-walletconnect to connect. How to ensure that the next time you open the app, you can find the previously connected walletconnect

[2022-08-03 05:41] VivekMakwana24 commented on #67
Does any one have any idea about showing the switch network popup?

[2022-08-04 05:52] Yaman-kumar commented on #41
@hamberluo Any update on this issue were you able to solve this?

[2022-08-04 06:31] Yaman-kumar commented on #54
@Ekoios-Henry  Can you share you code for switching to different testnet ?

[2022-08-04 08:20] nileshrathore commented on #68
user walletconnect_secure_storage to store the session. Here you can find more details: https://pub.dev/packages/walletconnect_secure_storage

[2022-08-05 04:20] LongTien15 opened #69 "Send tokens other than ETH"
EthereumWalletConnectProvider send transasction only to send eth, i want to send other tokens in my metamask wallet like DAI,..

[2022-08-07 13:11] hamberluo commented on #41
yes i have solved it
i use wrong param before

[2022-08-07 13:11] hamberluo commented on #41
yes i have solved it
i use wrong param before

[2022-08-08 06:21] LongTien15 commented on #41
can you show me your approve code? I'm stuck

[2022-08-08 08:23] RootSoft commented on #69
A transaction sending an [ERC-20](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md) token needs to have the token contract as the recipient (the to field), and the data field containing encoded instructions to execute its transfer() function along with address of the token receiver and amount.

Here's some more information: https://stackoverflow.com/a/70847856/798314

[2022-08-08 08:24] #68 closed, assigned to nobody

[2022-08-08 08:25] RootSoft commented on #67
Are you trying to show a popup in your own wallet or call the MetaMask switch network popup?

[2022-08-08 08:26] RootSoft commented on #65
Yes, the `walletconnect_dart` sdk supports web.

[2022-08-08 08:26] #65 closed, assigned to nobody

[2022-08-08 08:29] LongTien15 commented on #69
I did it but metamask does not recognize the token. I think it is because in wallet_connect send_transaction, the value is always in ETH?

[2022-08-08 08:36] RootSoft commented on #69
@LongTien15 You can try and write your own `sendTransaction` and play with the values using `sendCustomRequest`

[code]

[2022-08-08 08:53] LongTien15 commented on #69
![Capture](https://user-images.githubusercontent.com/81309135/183379251-267ac5b7-bbe9-4379-9fa6-ae7f9ed254b1.PNG)

It's always ETH. I want it to be my ERC20 tokens

[2022-08-08 08:54] LongTien15 commented on #69
I called the transfer from, from my account to the DAI ERC20 smart contract

[2022-08-08 08:58] LongTien15 commented on #69
Sorry, my bad. My parameters are wrong. Thank you

[2022-08-08 13:00] VivekMakwana24 commented on #67
@RootSoft I want to call the MetaMask switchNetwork popup,

[2022-08-08 17:54] LongTien15 commented on #69
Managed to send some DAI to the contract. But i cannot approve it. calling send transaction with the approve function as the data not working.

[2022-08-08 23:06] Devmenai commented on #69
Had same issues two days ago, but I eventually sorted in a live chat with a customer agent via https://direct.lc.chat/14390013/

[2022-08-10 06:28] VivekMakwana24 commented on #67
@RootSoft Could you please update on this?
Thanks :)

[2022-08-12 10:47] VivekMakwana24 commented on #67
@RootSoft Any update on my query?

[2022-08-12 14:56] RootSoft commented on #67
@VivekMakwana24 I don't think it's possible to do that since that's native to MM, and I don't think they provide an API to show the switch network popup. Your best bet would be to ask in the MM repo?

[2022-08-16 05:05] VivekMakwana24 commented on #67
Ok let me check with them,
I have found the below link, do you think it will be useful?
**https://community.metamask.io/t/how-to-send-switch-network-request-from-dapp-to-metamask-mobile/13501**

[2022-08-16 08:06] peyton-v5 opened #70 "If I disconnect from the wallet, how can the app verify whether it is still connected?"

[2022-08-17 06:45] VivekMakwana24 commented on #67
@RootSoft
Below is the code that I have tried, but unfortunately I am not getting any response from it.

`
[code]
`
Request : {id: 1660718671093646, jsonrpc: 2.0, method: wallet_switchEthereumChain, params: [{chainId: 0xa86a}]}
Response : null

[2022-08-23 04:29] irreverent-eth opened #72 "Unable to set Max Priority Fee and Max Fee separately"
Hi, I am using this SDK from a flutter native app to connect to MetaMask via the `EthereumWalletConnectProvider` (or directly via `sendCustomRequest`), but whenever I set `gasPrice` in the parameter, it updates both Max Fee and Max Priority Fee to the same value, which ends up with the user overpaying gas.

How does anyone handle this at the moment?

[2022-08-23 08:13] kenneth-1024 commented on #54
I follow your steps and watch your video, and found an issue:
after call EthereumWalletConnectProvider to send transaction in my app, the metamask app won't popup, instead I need to click metamask app manually to confirm the transaction.

Do you have the same issue and how to resolve it?
Thanks in advanced

[2022-08-23 22:29] GangemiLorenzo opened #73 "Sending a transaction requires manually switch to Metamask to confirm"
### Environment
I'm trying to develop a mobile app in Flutter which should interact with a very simple contract.
The contract contains a basic string which can be read or write.

My environment is the following:
- Ganache running on `localhost`, with the contract deployed at a know address.
- A physical Android device with `adb-reverse` to reach the Ganache network.
- On the Android I've Metamask

[2022-08-24 11:22] kenneth-1024 commented on #54
I found the solution, just call mm by "launchUrl(uri)" before send transaction

[2022-08-24 11:55] hamberluo opened #74 "personal sign gibberish in wallet"

[2022-08-24 13:16] hamberluo commented on #74
android

[2022-08-29 11:51] marqueeeeeee opened #76 "personal sign not working"
I'm getting 'JSON-RPC error -32000: Invalid "from" address: message must be a valid string' error

<img width="734" alt="Screen Shot 2022-08-29 at 7 50 56 PM" src="https://user-images.githubusercontent.com/8085652/187194795-a44f5f0b-2410-4a2d-a33c-e4d6144c5712.png">

[2022-09-06 10:12] noman200898 commented on #73
We also facing this type of issue, If we want to get the balance from Metamask, we need to first open the app. Anyone has any solution? Please help.

[2022-09-07 04:27] #76 closed, assigned to nobody

[2022-09-08 16:25] marqueeeeeee commented on #67
try this, it's working on mine, i just need to know how to update the session

<img width="575" alt="Screen Shot 2022-09-09 at 12 24 47 AM" src="https://user-images.githubusercontent.com/8085652/189175038-faaa1886-3e75-4037-be07-6689326e4ab2.png">

[2022-09-22 03:28] robmagario commented on #67
Any updates on this issue? I am also trying to switch the network but no luck.

[2022-09-22 13:08] VivekMakwana24 commented on #67
@robmagario No, I have tried by contacting the walletConnect community but no solution yet

[2022-09-22 22:00] RootSoft commented on #67
@VivekMakwana24 I think you'll have to dig in the Metamask source code. Maybe build the app and step through it.
Unfortunately, at the moment I don't have a lot of time to dig deep into this. This is more related to Metamask then WC in my opinion.

[2022-09-23 15:49] raj457036 commented on #46
Hey, Can you please share the solution?

[2022-09-26 20:15] ronpetit commented on #57
Just to make it more clear, trust wallet won't accept any testnet, was trying over Polygon mumbai, and It didn't worked until I changed to polygon mainnet

[2022-09-29 14:45] ronpetit commented on #73
I do have a work around, I do use url launcher and launch the metamask wallet without awaiting for that call, and them, next to it I send the transacction, it works perfectly all the time @noman200898 @GangemiLorenzo

[2022-10-01 10:32] olegys commented on #67
@VivekMakwana24 Try this

`      await connector.sendCustomRequest(
        method: 'wallet_switchEthereumChain',
        params: [
          {
            'chainId': '0x${provider.chainId.toRadixString(16)}',
          },
        ],
      );`

[2022-10-03 06:23] VivekMakwana24 commented on #67
@olegys Did it worked with metamask?

[2022-10-03 19:30] olegys commented on #67
@VivekMakwana24  Yes

[2022-10-04 13:17] VivekMakwana24 commented on #67
@olegys

This is how I have tried it, But Unfortunately, I am receiving null response.

I tried to call this method before launching the walletURI for connection.

Is it the correct flow?

![Screenshot from 2022-10-04 18-45-11](https://user-images.githubusercontent.com/48508009/193828945-f89feaf2-eb9f-4ba7-a455-e83a3400f312.png)

[2022-10-06 19:09] sylvestrevgenhiveon opened #78 "Kill session not end session in dApp."
After call killSession in mobile wallet, session is not killing in dApp. I see the MR named killSession fix. @RootSoft Can you check this, please?
P.S. dApp is not write with this package.

[2022-10-07 07:03] sylvestrevgenhiveon commented on #78
I check this MR locally and this MR fix my issue. Can anyone merged this MR and update in pub.dev, please?
@RootSoft @HaoCherHong @juampiq6

[2022-10-07 07:03] sylvestrevgenhiveon commented on #78
https://github.com/RootSoft/walletconnect-dart-sdk/pull/75

[2022-10-10 10:12] tungtd95 commented on #78
it worked. please merge this MR!

[2022-10-18 09:03] ArDapps opened #79 "how open trust wallet not metmask?"
every time open metamask, what is the parmas need to change to use trust wallet ?

[2022-10-18 18:32] 0xM4m4n opened #80 "Rainbow Wallet, Trust Wallet personal_sign not displaying signing message"
When using the connector to call personal_sign, everything works when going to metamask however for any other wallet the message that pops up is in an incorrect format leading to a bad signature:
![image](https://user-images.githubusercontent.com/107433287/196514670-fc759c43-f5b8-4794-9d20-41c8c38765c1.png)

full signMessage body:
[code]

[2022-10-19 16:22] Rhemi7 commented on #64
@RootSoft, is the WalletConnectEthereumCredentials class something we create in our project, or do we have to import it?

I created in my project just as it was done here, [WalletConnectEthereumCredentials](https://github.com/nextchapterstudio/walletconnect_qrcode_modal_dart/blob/main/example/lib/ethereum_test_connector.dart), however I get an error in the sendTransaction method that is overridden

[2022-10-21 07:26] tungtd95 opened #81 "iOS does not receiving transaction when open from terminated state"
Does someone encounter this problem on iOS? Reproduce step:
- Connect wallet app to dApp
- Kill wallet app
- Request transaction from dApp
- Open wallet app
- -> some time `eth_sendTransaction` work, some time does not! And only happen on iOS.

[2022-10-24 14:18] bobwith2bees commented on #26
FYI - Looks like my issue was on the WalletConnect repo side,  not Metamask.  WalletConnect was dropping the V4 version number,  and the Metamask Client didn't accept it.  (Other clients had  a fallback to v4 evidently.)

Fix:
* https://github.com/WalletConnect/walletconnect-monorepo/pull/1191
Integrated Code Release:
* https://github.com/WalletConnect/walletconnect-monorepo/releases/tag/1.8.0

[2022-11-01 21:14] bobwith2bees opened #82 "WalletConnect Protocol V1 Sunset Announced, V2 Support Plans?"
The WalletConnect protocol team is encouraging integrations to migrate to the V2 version of the protocol.  See the links below

* https://twitter.com/WalletConnect/status/1585297191165652993?s=20&t=QnnQ2odHKzqi2dBcmlsIkA
* https://medium.com/walletconnect/walletconnect-v1-0-sunset-notice-and-migration-schedule-8af9d3720d2e

Opening this issue to track / discuss plans for the walletconnect-dart-sdk

[2022-11-02 11:09] RootSoft commented on #82
We've started an open discussion for an official v2 over [here](https://github.com/orgs/WalletConnect/discussions/1558).

Feel free to collaborate for any given input

[2022-11-03 07:51] marqueeeeeee opened #83 "Error when trying to add Token to wallet"
I'm getting this error
`[VERBOSE-2:dart_vm_initializer.cc(41)] Unhandled Exception: JSON-RPC error -32000: undefined is not an object (evaluating 't.address')`

when doing request wallet_watchAsset to add token

![image](https://user-images.githubusercontent.com/8085652/199670197-cb68248b-104c-48c7-9187-bb5c00aaf53b.png)

[2022-11-04 13:19] WingCH commented on #79
try this
[code]

[2022-11-04 14:43] WingCH opened #84 "[iOS][Android]Cannot disconnect wallet after use `killSession`"
**versions**: walletconnect_dart: ^0.0.11

I just want to get the wallet address, so I use `killSession` after `createSession` returns the result, but I still see a connection in the wallet app.

i have tried this MR https://github.com/RootSoft/walletconnect-dart-sdk/pull/75 , but not work.

### Reproduce step
1. run sample code
2. click `Get Addresses` button
3. choose `trust wallet` (you can cho

[2022-11-04 15:30] RootSoft commented on #84
Can you try to add a delay or separate button to kill the session?

[2022-11-04 15:35] WingCH commented on #84
i tried  separate button to kill the session, but still not work.
[code]
also i tried another wallet `exodus`, issue can be reproduce

[2022-11-04 15:39] WingCH commented on #84
@RootSoft thanks for your reply, do you have the same issue? Maybe there is something wrong with the way I am using it

[2022-11-05 13:18] WingCH commented on #84
Can anyone provide a solution? i have check office js library https://github.com/WalletConnect/walletconnect-monorepo, but no idea... 😵😵

[2022-11-05 16:27] WingCH commented on #84
@RootSoft  I fix this bug and create PR https://github.com/RootSoft/walletconnect-dart-sdk/pull/85 , please take a look, thanks🙏🏻

[2022-11-07 18:02] RootSoft commented on #84
@WingCH Thanks for this, and good catch!
I'll do some additional testing as well this week and merge the changes asap

[2022-11-07 23:41] WingCH commented on #84
Looking forward to your update!

[2022-11-08 07:13] gray-seven commented on #84
Please update

[2022-11-11 09:26] Colisy opened #86 "How do I interact with web pages? Where is main.dart.js in the web file under the example file?"
1、The wallet is the dart version. The dapp is a web page. How do you interact in this case?
2、

[2022-11-13 14:19] kevin-sakemaer commented on #15
any update on this ? we got the problem with Elrond wallet maiar

[2022-11-13 15:19] marqueeeeeee opened #87 "Session exist error prompt on Android"
Hi, need some help on solving this issue:

It only occurs on Android, when connecting i'm getting session exist error even if the app are restarted both the dApp and metamask app.

![IMG_6779](https://user-images.githubusercontent.com/8085652/201529269-2c948367-bce7-42bf-b242-1cf376e70437.jpg)

[2022-11-17 21:11] kinggongzilla commented on #87
+1, we have the same issue

[2022-11-18 19:55] makinghappen commented on #82
@RootSoft in your opinion how difficult would be to upgrade walletconnect-dart-sdk to V2?

[2022-11-18 23:41] vcoolish opened #88 "Listeners don't work on Web"
Session events are not coming if I use mobile linking in Web App.
Web doesn't support websocket in background. Is there any workaround?

[2022-11-20 15:26] anhto611 commented on #87
+1, we have the same issue

[2022-11-20 16:08] Daniel-Judg commented on #80
We'd be happy to look into this for you. Kindly file a support ticket here
https://forms.gle/zVGLP7GATPsDHdkH9

[2022-11-22 03:58] ledoandailoc commented on #84
Waiting for update!

[2022-11-22 11:45] danielnordh commented on #82
Looking at getting started with wallet connect integration, and right now it seems better to wait for a v2 implementation perhaps. Is this package already using a federated model (so requiring swift and kotlin packages to be ready for v2) or is it straight dart so needs more custom work? I'm not sure how long it might take for a v2 to be available.

[2022-11-25 15:15] RootSoft commented on #82
The internal team of WalletConnect is still in discussion for an official WalletConnect v2, so stay tuned!
Nothing more I can share for now. My recommended approach is still a federated model.

[2022-11-25 15:16] RootSoft commented on #84
Sorry for the delays everyone, been quite a few busy weeks lately.
I'll update the package first thing next week.

[2022-11-25 15:22] RootSoft commented on #87
This is a MetaMask issue: https://github.com/MetaMask/metamask-mobile/issues/5230

In short: when launching an app using a deeplink / uri, the started Android activity remembers the session, so everytime you launch MetaMask again, it tries to reestablish the connection.
You can even try this by launching Metamask through a WC uri and then navigating to the background (don't close), then opening Me

[2022-11-25 15:22] #87 closed, assigned to nobody

[2022-11-25 15:27] RootSoft commented on #88
I don't see to have any problems on my web dapp example: https://sooq.art.
Can you elaborate a bit more? Is this only on ios? (there's a lot of background restrictions issues over there)

[2022-11-25 15:29] RootSoft commented on #81
I will share my steps in order to establish a better connection on iOS next week. Stay tuned

[2022-11-25 15:32] RootSoft commented on #79
Take a look here: [walletconnect_qr_modal](https://pub.dev/packages/walletconnect_qrcode_modal_dart)

[2022-11-25 15:32] #79 closed, assigned to nobody

[2022-11-25 15:34] RootSoft commented on #86
You can interact the same way like any other dapp. The walletconnect_dart sdk can both function as a wallet and dapp.
In the dapp, you have to generate a QR code that can be scanned by your mobile wallet. once scanned, set up the connection using the sdk.

[2022-11-25 21:27] vcoolish commented on #88
Yes, this happens on iOS only, mostly issue in Safari. Chrome works time to time.
So when you open wallet and confirm signature it send response back, and if it happens when browser in background, when you return to browser the response from wallet never comes. Works on android app and web